.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_paragraph {
    margin: 0;
!important;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F5F7;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 80px;
}

.header {
    padding-top: 1rem !important;
}

.album {
    background-color: #F6F7FA;
}

.login {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
}

.navigation__btn {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.rectangle {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    background: #338573;
}

.text_right {
    color: #ffffff;
    text-align: right;
}

.text-ligth {
    text-align: center;
    color: #FFFFFF;
}

.link-gray-dk {
    color: #979799;
}

.gray-dk-color {
    color: #979799;
}

.breadcrumbs__item {
    font-size: 15px;
    margin-right: 5px;
}

.breadcrumbs__item:after {
    content: "/";
    margin-left: 5px;
}

.breadcrumbs__item:last-child {
    margin-right: 0;
    pointer-events: none;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.new-ad-start__illustration {
    margin-bottom: 25px;
    margin-top: 0;
    width: 450px;
}

.new-ad-start__illustration {
    margin: 45px auto 30px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.btn-fill-accent:hover {
    background-color: #29985f;
    color: #fff;
}

.btn-fill-accent {
    background-color: #258a56;
    color: #fff;
}

.ordinary_text {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: #338573;
}

.new-ad-start__title {
    font-size: 18px;
    margin-bottom: 23px;
    text-align: center;
}

.new-ad-start__title {
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
}

.new-ad-start__lose {
    margin-bottom: 0;
    margin-right: 10px;
}

.new-ad-start__find, .new-ad-start__lose {
    padding: 0 30px;
}

.btn-fill-accent-lt {
    background-color: #cfe9dc;
    color: #33463c;
}

.btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    height: 42px;
    justify-content: center;
    width: 100%;
}

.btn, .link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    width: auto;
}

.new-ad-start__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.btn_form {
    width: 100px;
    height: 50px;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__size {
    height: 50px;
    width: 210px;
}

.illustration__404 {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.illustration__post {
    height: 500px;
    display: block;
    margin: 0 auto;
}

.card__content {
    padding-top: 40px;
}

.card-information {
    max-width: 60%;
    font-size: 14px;
    padding-top: 15px;
}

.card-info {
    border-bottom: 1px solid #eef5ef;
    margin-bottom: 0;
    padding: 8px 0;
}

.card-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.card-info:first-child {
    padding-top: 0;
}

.card-information {
    font-size: 14px;
    padding-top: 15px;
}

.card-info__title, .card-info__value {
    width: 50%;
}

.card-info__value {
    text-align: right;
}