{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<div class="container">
    <div style="padding-top: 20px;"></div>
    <div class="container-block border rounded shadow-sm">
        <div class="main_about" style="margin: 10px 20px 20px;">
            <div class="main_about-text">
                <div class="main_about-title" style="padding-top: 20px;">What is Pet Seeker?</div>
                <div> Pets are our most faithful friends, so our main task is to help them and their
                    owners. If you have lost your beloved pet, then we give you the opportunity to inform a large number
                    of
                    people about this. You can post an ad, in which case other users will be able to provide important
                    information that can help you find it faster. Or, the person who found your pet will post an ad
                    faster
                    than
                    you, and you just have to make an appointment.
                </div>
            </div>
            <div class="main_about-img">
                <img src="/static/img/main/cat.png" alt="">
            </div>
        </div>
    </div>
    <div style="padding-top: 20px;"></div>
    <div class="container-block border rounded shadow-sm">
        <div class="main_about" style="padding-top: 20px; margin: 10px 20px 20px;">
            <div class="main_about-img">
                <img class="main_about-img-cat" src="/static/img/main/dog.png" alt="">
            </div>
            <div style="align-self: end; margin-bottom: 23px; text-align: right;" class="main_about-text">
                <div class="main_about-title" style="padding-bottom: 20px; text-align: right">Why Pet Seeker?</div>
                <div>The loss of pets has always been a big problem, people put up ads, send information
                    by calls or live chat, but it takes a lot of time and effort. But it is necessary that the maximum
                    number of
                    people learn about the loss and in the shortest possible time, since now almost everyone has access
                    to
                    the
                    Internet, by posting an ad on our website, you cover a very large circle of people who can help you
                    with
                    something.
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 20px;"></div>
    <div class="container-block border rounded shadow-sm">
        <div class="main_about" style="margin: 10px 20px 20px;">
            <div class="main_about-text">
                <div class="main_about-title" style="padding-top: 20px;">Our Growth</div>
                <div> Now, first of all, our attention is directed to attracting people, for greater efficiency of the
                    site.
                    We also want to work with veterinary clinics and shelters to increase the chances of finding your
                    pet.
                    In the future, I would like to create a team of volunteers who will help you in searches throughout
                    the
                    country. We want to grow and develop together with you, doing our common and noble cause.
                </div>
            </div>
            <div class="main_about-img">
                <img style="width: 390px; height: 240px; margin-left: auto; margin-right: auto "
                     src="/static/img/main/cat2.png" alt="">
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block header %}
About us
{% endblock %}